* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 5px;
    margin: 0 auto;
    background-color: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageTitle {
    padding: 20px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: orangered;
    text-align: center;
}
.pageTitle>h3 {
    display: inline;
    border-bottom: 2px solid orangered;
    border-radius: 2px;
    font-size: 1.5em;
}
/* Stats main */

.navbars {
    height: 60px;
}

.nav-item .icon {
    display: none;
}

.nav-item>a {
    display: inline-block;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    color: #ccc;
    line-height: 60px;
    cursor: pointer;
}

.link.active,
.mobile>a:hover,
.nav-item>a:hover {
    color: #777;
}


/* Navs mobile */
.close {
    float: right;
    font-size: 35px;
    color: #ddd;
    cursor: pointer;
}

.mobile {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;

}

.mobile>a {
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    font-weight: 600;
    color: #ddd;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.animation {
    animation: zoom .4s ease-out;
}

/* Zoom */
@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* slides */

.big-baner a {
    display: block;
    width: 100%;
    height: auto;
}


/* card */

.list-card {
    position: relative;
}

.card {
    position: relative;
    flex: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    opacity: 0.8;
}

.card h1 {
    color: orangered;
    font-size: 1.4em;
    padding: 5px;
    text-transform: uppercase;
}

.card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: orangered;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-bottom: 5px solid red;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card:hover {
    opacity: 1;
}

.card button {
    padding: 12px;
    width: 100%;
    background-color: orangered;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.price {
    color: gray;
    font-size: 22px;
    padding: 8px 12px;
}

.prev,
.next {
    color: orangered;
    position: absolute;
    width: auto;
    top: 50%;
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.next {
    right: 0;
}

/* Reponseve */

@media only screen and (max-width: 900px) {
    .nav-item>a {
        display: none;
    }

    .nav-item .icon {
        display: block;
        color: #000;
    }

    /* Product */
    .list-card {
        flex-direction: column;
    }

    .prev,
    .next {
        display: block;
    }
    .prev {
        left: 0;
    }
}